<?xml version="1.0"   encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xunce.patrol"
    >


    <application android:name=".util.MApplicatioin">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="MlR2VgK7mhTt2csvRX5kA715" />
    </application>

</manifest>
